{% extends 'texter/base.html' %}

{% load i18n %}

{% block content %}




  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <div class="container-fluid">
    <div class="row">
      </div class="col-xl-10">
      <p>Your phone number must be in the form "+12345678900"</p>
      <td class="justify-content-center">
        <form method="POST" class="form my-2 my-lg-0" action="/texter/register/">
          {% csrf_token %}
          <input type="text" name="number" value = "{{number_val}}">
          <button class="btn btn-primary my-2 my-sm-0" type="activate">Register/Reset your phone number</button>
      </form>
      <br>
      {% if active == False %}
        <td class="text-center">
          <p>Morning motivational texts are currently deactivated</p>
            <form method="POST" class="form-inline" action="/texter/activate/">
              {% csrf_token %}
              <input type="hidden" name="status" value="True">
              <button class="btn btn-primary my-2 my-sm-0" type="activate">Activate Motivational Messages</button>
        </form>

        {% else %}
        <td class="justify-content-center">
          <p>Morning motivational texts are currently activated</p>
            <form method="POST" class="form-inline my-2 my-lg-0" action="/texter/activate/">
              {% csrf_token %}
              <input type="hidden" name="status" value="False">
              <button class="btn btn-primary my-2 my-sm-0" type="activate">Deactivate Motivational Messages</button>
        </form>

        {% endif %}



      </div>
    </div>
  </div>
{% endblock %}