{% extends 'texter/base.html' %}

{% load i18n %}

{% block content %}


  {% if number == True %}

  {% if active == False %}

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <div class="container-fluid">
    <div class="row">
      </div class="col-xl-10">

        <td class="text-center">
            <form method="POST" class="form-inline" action="/texter/activate/">
              {% csrf_token %}
              <input type="hidden" name="status" value="True">
              <button class="btn btn-outline-primary my-2 my-sm-0" type="activate">Activate Motivational Messages</button>
        </form>

        {% else %}

        <td class="justify-content-center">
            <form method="POST" class="form-inline my-2 my-lg-0" action="/texter/activate/">
              {% csrf_token %}
              <input type="hidden" name="status" value="False">
              <button class="btn btn-outline-primary my-2 my-sm-0" type="activate">Deactivate Motivational Messages</button>
        </form>

        {% endif %}
        {% endif %}

        {% if number == False %}
        <td class="justify-content-center">
          <form method="POST" class="form-inline my-2 my-lg-0" action="/texter/register/">
            {% csrf_token %}
            <input type="text" name="number" placeholder="number here">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="activate">Register your phone number</button>
        </form>

        {% endif %}

        <iframe width="350" height="430" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/871168dc-59d5-431b-b822-5af2015e1668"></iframe>
      </div>
    </div>
  </div>
{% endblock %}